<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MCA - Discussion Forum</title>
  <link rel="stylesheet" href="/bootstrap.css" type="text/css">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>

    <body>
        <nav>
            <a href="/home/dashboard">
              <img class="logo" src="/header.png" width="500" height="100" >
            </a>
            <ul>
             <li class="active"><a href="/home/dashboard">Home</a>
          </li>
          <li>
            <a href="/home/profile" >Profile view »</a>

          </li>
          <li>
            <a href =""><img class="profile-img" alt="User Pic" src="http://localhost:8080/images/upload_images/<%=data[0].image%>"></a>
           </li>
           
               <li><a href="/home/logout">logout</a></li>
            </ul>
          </nav>  

          <div class="page-data">
            
            <form method="post" action="/home/edit/<%=data[0].post_id%>">
                <table cellpadding="11">
                <tr>
                    <td class="label">Question</td><td>: <input type="text" name="Question" value="<%=data[0].Question%>" required></td>
                 </tr>
                 <tr>
                  <td class="label">keyword</td><td>: <input type="text" name="keyword" value="<%=data[0].keyword%>" required></td>
               </tr>
               <tr>
                <td class="label">Body</td><td>: <input type="text" name="Body" value="<%=data[0].Body%>" required></td>
             </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>

        
        
           <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="/bootstrap.bundle.js" ></script>
          <script>
            function cancelAdd(){
    
            window.location.href = '/home/posts';
}
          </script>
        </body>
        </html>

